@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;700&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "Poppins", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  font-family: "Poppins", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

main.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main.container .login {
  padding: 0 60px;
  -webkit-box-flex: 33%;
      -ms-flex: 33%;
          flex: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main.container .login .logo {
  width: 300px;
  margin-bottom: 90px;
}

main.container .login h3 {
  font-size: 1.3rem;
  font-weight: 500;
  text-align: center;
  color: #1d1fdd;
  margin-bottom: 1rem;
}

main.container .login form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main.container .login form input {
  padding: 15px;
  border: 2px solid #1d1fdd;
  border-radius: 5px;
  margin-bottom: 5px;
}

main.container .login form input[type="submit"] {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0;
  color: #fff;
  background-color: #1d1fdd;
}

main.container .image-container {
  height: 100vh;
}

main.container .image-container img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.light {
  background-color: #F7F7F7;
}

aside {
  position: fixed;
  padding-top: 30px;
  transition: 400ms;
  height: 100vh;
  background-color: #1d1fdd;
  color: white;
  padding: 30px;
  width: 20%;
}

aside .logo {
  margin: 0 auto;
  width: 200px;
}

aside .side-menu {
  margin-top: 100px;
  margin-left: 20px;
}

aside .side-menu h2 {
  font-size: 1.2rem;
  text-decoration: underline;
  margin-bottom: 10px;
}

aside .side-menu h2:first-child {
  margin-bottom: 15px;
}

aside .side-menu li {
  margin: 10px;
}
/* My comment */
.burger {
  display: none;
  cursor: pointer;
  position: absolute;
  top: 20px;
  left:15px;

}

.burger div {
  width: 25px;
  height: 3px;
  background-color: rgb(226, 226, 226);
  margin: 5px;
  transition: all 0.3s ease;
}
.side-menu.side-active {
  transform: translateX(0%);
}
.aside-active{
  width: 30%;
  
}
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.btn {
  background: #1d1fdd;
  color: white;
  padding: 10px 30px;
  font-weight: 500;
  border-radius: 5px;
}

.red {
  background: #ee2c53;
}

.disabled {
  cursor: not-allowed;
  background: #ee2c537a;
}

section {
  margin-left: 20%;
  padding-left: 50px;
  margin-right: 90px;
  padding-top: 20px;
}

section .username {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

section .username h3 {
  font-size: 1.2rem;
  font-weight: 500;
  margin-right: 10px;
}

section .username .avatar {
  width: 50px;
  height: 50px;
}

section .username .avatar img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}

section .options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  margin: 30px 0;
}

section .options a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section .options input {
  border-color: #2b2b2b;
  padding: 10px 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-radius: 5px;
}
/*My comment*/
section .options select{
  color: #fff;
  background-color: #6c6df5;
  border-radius: 5px;
}

section .products table {
  border-collapse: separate;
  width: 100%;
  text-align: center;
  border-spacing: 0 8px;
 
}

section .products table tr:not(:first-child) {
  -webkit-transition: 400ms;
  transition: 400ms;
  background: #fff;
  margin-bottom: 5px;
}

section .products table tr:not(:first-child) td:last-child {
  background: #1d1fdd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section .products table th {
  color: #9E9E9E;
}

section .products table th, section .products table td {
  font-weight: 500;
  vertical-align: middle;
  padding: 10px 0;
}

section .products table th:first-child, section .products table td:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

section .products table th:last-child, section .products table td:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

section .products table th input, section .products table td input {
  cursor: pointer;
}

section .products table th a, section .products table td a {
  display: block;
}

section .products table img:first-child {
  float: left;
}

.selected {
  -webkit-box-shadow: 0 0px 16px #00000017;
          box-shadow: 0 0px 16px #00000017;
}

/* Media Query */


@media screen and (max-width: 768px) {
  body{
    overflow-x: hidden;
  }
  aside
  {
    width: 10%;
  }
  .sidebar .logo
  {
    visibility: hidden;
  }
  

  .side-menu {
    position: fixed;
    right: 75%;
    height: 90vh;
    top:0;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color:#1d1fdd; */
    width: 25%;
    transform: translateX(-100%);
    transition: transform 0.5s ease-out;
   }

.burger {
  display: block;
  cursor: pointer;
  color: white;
}

}

  
  
/*# sourceMappingURL=style.css.map */